<!-- Intro and header -->
  <div id="blog" class="inner-content">

      <section id="page-title" class="inner-section">
        <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
            <h2 class="font-accident-two-normal uppercase">COMING SOON</h2>
            <h5 class="font-accident-one-bold hovercolor uppercase">Curated design-content for the suave developer.</h5>
        </div>

      <!-- Blog Image Placeholder -->
        <div class="timeline-panel wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="10">
          <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/blog-suave.png", class: "img-responsive-bordered" %>
        </div>

      </section>
  </div>
