<!-- Intro and header -->
  <div id="blog" class="inner-content">

      <%= image_tag "blog-suave.png" %>

      <section id="page-title" class="inner-section">
        <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
            <h2 class="font-accident-two-normal uppercase">COMING SOON</h2>
            <h5 class="font-accident-one-bold hovercolor uppercase">Curated design-content for the suave developer.</h5>
        </div>
      </section>
