<!-- Intro and header -->
  <div id="blog" class="inner-content">

      <section id="page-title" class="inner-section">

        <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
            <h2 class="font-accident-two-normal uppercase">DEMO PAGE</h2>
            <h5 class="font-accident-one-bold hovercolor uppercase">Sandbox for deploying and testing new app components.</h5>
        </div>

        <div class="row nopadding">
           <div class="col-md-4 infoblock nopadding">
              <div class="row">
                <%= image_tag "01.jpg", :class => 'img-responsive' %>
              </div>
            </div>
        </div>

        <div class="row nopadding">
           <div class="col-md-4 infoblock nopadding">
              <div class="row">
                <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/02.jpg", :class => 'img-responsive' %>
              </div>
            </div>
        </div>

      </section>

  </div>

<!-- Demo Page Content -->

  <!-- ALTERNATE STYLESHEETS AND JS -->
  <!-- <link rel="stylesheet" href="dashboard.css">
  <link rel="stylesheet" href="elements.css">
	<link rel="stylesheet" href="rickshaw.min.css">
  <link rel="stylesheet" href="jquery.bxslider.css">
  <link rel="stylesheet" href="plugins.css"> -->
	<!-- <script src="modernizr.min.js"></script> -->

  <!-- <div class="nav-bar-container">

      		<div class="nav-menu">
      			<div class="hamburger">
      				<span class="patty"></span>
      				<span class="patty"></span>
      				<span class="patty"></span>
      				<span class="patty"></span>
      				<span class="patty"></span>
      				<span class="patty"></span>
      			</div>
      		</div>

      		<div class="nav-search">
      			<span class="search"></span>
      		</div>

      		<div class="nav-user">
      			<div class="user">
      				<img src="/faces/upload-one-here.jpg" alt="">
      				<span class="badge">3</span>
      			</div>
      			<div class="cross">
      				<span class="line"></span>
      				<span class="line"></span>
      			</div>
      		</div>

      		<div class="nav-bar-border"></div> -->

      		<!-- OVERLAY HELPERS -->
      		<!-- <div class="overlay">
      			<div class="starting-point">
      				<span></span>
      			</div>
      			<div class="logo">DEVEN BLACKBURN</div>
      		</div>

      		<div class="overlay-secondary"></div>

      	</div>

      	<div class="content">

      		<div class="page-header full-content">
      			<div class="row">
      				<div class="col-sm-6">
      					<h1>Dashboard Panel <small>INTRANET</small></h1>
      				</div>
      				<div class="col-sm-6">
      					<ol class="breadcrumb">
      						<li><a href="#" class="active"><i class="ion-home"></i> Homepage</a></li>
      					</ol>
      				</div>
      			</div>
      		</div>

      		<div class="display-animation">

      			<div class="row image-row">

      				<div class="col-md-8">

      					<div class="row image-row">
      						<div class="col-sm-8">

      							<div class="card tile card-green card-weather bg-image sample-bg-image15 material-animate">
      								<div class="card-heading">
      									<div class="card-action">
      										<a href="javascript:;" data-toggle="fake-reload"></a>
      									</div>
      								</div>
      								<div class="card-body">
      									<div class="forecast-container">
      										<span class="temparature">79 <i class="wi wi-fahrenheit"></i></span>
      										<span class="place">Santa Barbara, California</span>
      										<span class="forecast">Clear until tomorrow morning</span>
      									</div>
      								</div>
      								<div class="card-footer">
      									<div class="row">
      										<div class="col-xs-3 col-sm-2 animate-item">
      											<ul>
      												<li>MON</li>
      												<li><i class="wi wi-day-sleet-storm"></i></li>
      												<li>78 <i class="wi wi-fahrenheit"></i></li>
      											</ul>
      										</div>
      										<div class="col-xs-3 col-sm-2 animate-item">
      											<ul>
      												<li>TUE</li>
      												<li><i class="wi wi-day-sunny-overcast"></i></li>
      												<li>72 <i class="wi wi-fahrenheit"></i></li>
      											</ul>
      										</div>
      										<div class="col-xs-3 col-sm-2 animate-item">
      											<ul>
      												<li>WED</li>
      												<li><i class="wi wi-rain"></i></li>
      												<li>74 <i class="wi wi-fahrenheit"></i></li>
      											</ul>
      										</div>
      										<div class="col-xs-3 col-sm-2 animate-item">
      											<ul>
      												<li>THU</li>
      												<li><i class="wi wi-day-rain"></i></li>
      												<li>75 <i class="wi wi-fahrenheit"></i></li>
      											</ul>
      										</div>
      										<div class="col-sm-2 hidden-xs animate-item">
      											<ul>
      												<li>FRI</li>
      												<li><i class="wi wi-showers"></i></li>
      												<li>70 <i class="wi wi-fahrenheit"></i></li>
      											</ul>
      										</div>
      										<div class="col-sm-2 hidden-xs animate-item">
      											<ul>
      												<li>SAT</li>
      												<li><i class="wi wi-storm-showers"></i></li>
      												<li>71 <i class="wi wi-fahrenheit"></i></li>
      											</ul>
      										</div>
      									</div>
      								</div>
      							</div>

      						</div>
      						<div class="col-sm-4">

      							<div class="card tile card-dashboard-graph material-animate">
      								<div class="contextual">
      									<h5>Daily Sales</h5>
      									<p>Collaboratively administrate empowered markets</p>
      								</div>
      								<div class="chart without-time chart-sales"></div>
      								<div class="chart-legend chart-sales-legend"></div>
      							</div>

      							<div class="card tile card-dashboard-graph material-animate margin-top-4">
      								<div class="contextual">
      									<h5>Balance Statement</h5>
      									<p>Dynamically procrastinate B2C user markets</p>
      								</div>
      								<div class="chart without-time chart-balance"></div>
      							</div>

      						</div>
      					</div>

      					<div class="row image-row">

      						<div class="col-sm-4">
      							<ul class="bxslider width-percent-100" data-bx-slider-pager="false" data-bx-slider-controls="false" data-bx-slider-auto="true" data-bx-slider-mode="vertical">
      								<li>
      									<div class="card tile card-indigo card-social material-animate">
      										<div class="card-body">
      											<p>Collaboratively administrate empowered markets via networks.</p>
      										</div>
      										<div class="card-footer">
      											<ul class="inline-list">
      												<li><i class="fa fa-thumbs-o-up"></i> 393</li>
      												<li><i class="fa fa-share"></i> 105</li>
      											</ul>
      										</div>
      										<div class="card-icon"><i class="fa fa-facebook"></i></div>
      									</div>
      								</li>

      								<li>
      									<div class="card tile card-light-blue card-social material-animate">
      										<div class="card-body">
      											<p>Dynamically procrastinate B2C users after installed base benefits.</p>
      										</div>
      										<div class="card-footer">
      											<ul class="inline-list">
      												<li><i class="fa fa-star-o"></i> 594</li>
      												<li><i class="fa fa-retweet"></i> 256</li>
      											</ul>
      										</div>
      										<div class="card-icon"><i class="fa fa-twitter"></i></div>
      									</div>
      								</li>
      							</ul>
      						</div>

      						<div class="col-sm-4">
      							<div class="card card-music card-music-single card-music-centered tile card-black card-player-indigo bg-image bg-opaque8 sample-bg-image14 material-animate">
      								<audio src="#" preload="none" class="audiojs-single"></audio>
      								<div class="card-heading">
      									<div class="song-container">
      										<p class="artist">Jason Shaw</p>
      										<p class="song">Audio Cards</p>
      									</div>
      								</div>
      							</div>
      						</div>

      						<div class="col-sm-4">
      							<div class="card tile card-dashboard-graph material-animate">
      								<div class="contextual">
      									<h5>Social Followers</h5>
      									<p>Dramatically maintain clicks-and-mortar</p>
      								</div>
      								<div class="chart without-time chart-followers"></div>
      								<div class="chart-legend chart-followers-legend"></div>
      							</div>
      						</div>

      					</div>

      				</div>

      				<div class="col-md-4">

      					<div class="row image-row">
      						<div class="col-md-12">
      							<div class="card tile card-lime card-image material-animate">
      								<input id="pac-input" type="text" placeholder="Search Place">
      								<div id="gmaps-dashboard" class="example-map"></div>
      							</div>
      						</div>
      					</div>

      					<div class="row image-row">
      						<div class="col-md-12">
      							<div class="card tile card-white card-stocks material-animate">
      								<div class="card-heading">
      									<div class="card-action">
      										<a href="javascript:;" data-toggle="fake-reload"></a>
      									</div>
      									<span class="name">Apple Inc</span>
      									<span class="price"><i class="ion-arrow-up-b"></i> 0.30%</span>
      									<div class="chart chart-stocks"></div>
      								</div>
      								<div class="card-body">
      									<ul>
      										<li class="animate-item btn-ripple">
      											<span class="name">Apple Inc</span>
      											<span class="price text-green"><i class="ion-arrow-up-b"></i> $119.56</span>
      										</li>
      										<li class="animate-item btn-ripple">
      											<span class="name">Nokia Corporation</span>
      											<span class="price text-red"><i class="ion-arrow-down-b"></i> $10.69</span>
      										</li>
      										<li class="animate-item btn-ripple">
      											<span class="name">Canon Inc</span>
      											<span class="price text-green"><i class="ion-arrow-up-b"></i> $31.48</span>
      										</li>
      										<li class="animate-item btn-ripple">
      											<span class="name">Motorola Solutions</span>
      											<span class="price text-red"><i class="ion-arrow-down-b"></i> $63.94</span>
      										</li>
      										<li class="animate-item btn-ripple">
      											<span class="name">Sony Corp</span>
      											<span class="price text-green"><i class="ion-arrow-up-b"></i> $25.94</span>
      										</li>
      									</ul>
      								</div>
      							</div>
      						</div>
      					</div>

      				</div>

      			</div>

      		</div>

      		<div class="display-animation">
      			<div class="full-content margin-top-40 margin-bottom-40 bg-white">
      				<div class="row">

      					<div class="col-md-4 material-animate padding-right-40">
      						<h4>Sales in 2016</h4>
      						<p class="text-grey">Tote bag sint farm-to-table hashtag fixie. Bespoke listicle YOLO, keffiyeh williamsburg chillwave taxidermy dolore ugh quinoa four loko tumeric.</p>
      					</div>

      					<div class="col-md-8 material-animate">
      						<div class="chart chart-sales-by-year without-time"></div>
      					</div>


      				</div>
      			</div>
      		</div>

      		<div class="display-animation">
      			<div class="row image-row margin-bottom-40">
      				<div class="col-md-4">
      					<div class="card tile card-dashboard-info card-teal material-animate">
      						<div class="card-body">
      							<div class="card-icon"><i class="fa fa-usd"></i></div>
      							<h4>Revenue</h4>
      							<p class="result">$10,786</p>
      							<small><i class="fa fa-caret-up"></i> Total balance is $23,591</small>
      						</div>
      					</div>

      					<div class="card tile card-dashboard-info card-light-blue material-animate">
      						<div class="card-body">
      							<div class="card-icon"><i class="fa fa-calculator"></i></div>
      							<h4>Open Invoices</h4>
      							<p class="result">26</p>
      							<small>Waiting to send</small>
      						</div>
      					</div>

      					<div class="card tile card-dashboard-info card-blue-grey material-animate">
      						<div class="card-body">
      							<div class="card-icon"><i class="fa fa-thumbs-o-up"></i></div>
      							<h4>New Subscribers</h4>
      							<p class="result">183</p>
      							<small><i class="fa fa-caret-up"></i> 9814 subscribers totally</small>
      						</div>
      					</div>

      				</div>

      				<div class="col-md-4">
      					<div class="card tile card-news-more material-animate">
      						<div class="card-heading bg-image bg-opaque5 sample-bg-image29">
      							<div class="heading-content">
      								<span class="badge">NEWS</span>
      								<span class="headline">Hipster Ipsum Sold!</span>
      								<button class="btn btn-floating btn-pink toggle-card-news-more"><i class="ion-android-create"></i></button>
      							</div>
      						</div>
      						<div class="card-body">
      							<p>Tote bag sint farm-to-table hashtag fixie. Bespoke listicle YOLO, keffiyeh williamsburg chillwave taxidermy dolore ugh quinoa four loko tumeric. Blue bottle ullamco tattooed meditation, cardigan pickled raw denim literally forage bespoke gentrify. Affogato kinfolk slow-carb celiac quis iPhone. Ea commodo hashtag sapiente poke, retro whatever hot chicken wolf vaporware viral austin glossier. Messenger bag waistcoat pickled air plant, 8-bit cred ullamco kitsch umami. Bitters tumeric occaecat proident.</p>
      						</div>
      					</div>
      				</div>

      				<div class="col-md-4">
      					<div class="card tile card-friend material-animate">
      						<a href="user-profile.html"><img src="faces/1.jpg" class="user-photo" alt=""></a>
      						<div class="friend-content">
      							<p class="title">Hillary Clinton</p>
      							<p><a href="user-profile.html">1180 friends</a></p>
      							<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
      						</div>
      					</div>

      					<div class="card tile card-friend material-animate">
      						<a href="user-profile.html"><img src="faces/2.jpg" class="user-photo" alt=""></a>
      						<div class="friend-content">
      							<p class="title">Donald Trump</p>
      							<p><a href="user-profile.html">3 friends</a></p>
      							<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
      						</div>
      					</div>

      					<div class="card tile card-friend material-animate">
      						<a href="user-profile.html"><img src="faces/3.jpg" class="user-photo" alt=""></a>
      						<div class="friend-content">
      							<p class="title">Barack Hussein Obama</p>
      							<p><a href="user-profile.html">1490 friends</a></p>
      							<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
      						</div>
      					</div>

      					<div class="card tile card-friend material-animate">
      						<a href="user-profile.html"><img src="faces/5.jpg" class="user-photo" alt=""></a>
      						<div class="friend-content">
      							<p class="title">Henry Kissinger</p>
      							<p><a href="user-profile.html">159 friends</a></p>
      							<a class="btn btn-flat btn-primary btn-xs">Add as a Friend</a>
      						</div>
      					</div>
      				</div>

      			</div>
      		</div>

      		<div class="display-animation">
      			<div class="row image-row">
      				<div class="col-sm-6 col-md-3">

      					<div class="panel helper-dashboard-height">
      						<div class="panel-heading">
      							<div class="panel-title"><h4>VISITORS</h4></div>
      						</div>
      						<div class="panel-body vertical-padding">
      							<div class="gauge-chart">
      								<canvas id="gauge" class="gauge-canvas"></canvas>
      								<div id="preview-textfield"></div>
      								<div class="chart-desc">
      									Unique Visitors
      								</div>
      							</div>
      						</div>
      					</div>

      				</div>

      				<div class="col-sm-6 col-md-3">

      					<div class="panel helper-dashboard-height">
      						<div class="panel-heading">
      							<div class="panel-title"><h4>OPEN TICKETS</h4></div>
      						</div>
      						<div class="panel-body">
      							<div class="knob-container margin-top-10">
      								<input class="knob" data-angleOffset="-125" data-fgColor="deep_purple" data-angleArc="250" data-readOnly="true" value="35">
      							</div>
      							<div class="chart-desc">
      								number of issue tickets still open
      							</div>
      						</div>
      					</div>

      				</div>

      				<div class="col-sm-12 col-md-6">

      					<div class="panel helper-dashboard-height">
      						<div class="panel-heading">
      							<div class="panel-title"><h4>TIMELINE</h4></div>
      						</div>
      						<div class="panel-body horizontal-padding">

      							<div class="timeline single helper-timeline">
      								<div class="frame">
      									<div class="timeline-badge">
      										<i class="fa fa-headphones"></i>
      									</div>
      									<span class="timeline-date">17 August 1999</span>
      									<div class="timeline-content">
      										The 1999 Kocaeli earthquake occurred with a moment magnitude of 7.4 that struck northwestern Turkey struck northwestern Turkey
      									</div>
      								</div>
      								<div class="frame">
      									<div class="timeline-badge">
      										<i class="fa fa-tree"></i>
      									</div>
      									<span class="timeline-date">18 April 1906</span>
      									<div class="timeline-content">
      										The San Francisco earthquake of 1906 struck San Francisco on Wednesday, April 18, 1906.
      									</div>
      								</div>
      							</div>

      						</div>
      					</div>

      				</div>

      			</div>
      		</div> -->

          <!-- FOOTER -->
      		<!-- <div class="footer-links margin-top-40">
      			<div class="row no-gutters bg-blue">
      				<div class="col-xs-6"></div>
      				<div class="col-xs-6">
      					<a href="#">
      						<span class="state">Link Description</span>
      						<span>Link</span>
      						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
      					</a>
      				</div>
      			</div>
      		</div>

      	</div>


      	<div class="layer-container"> -->

      		<!-- MENU POPOUT -->
      		<!-- <div class="menu-layer">
      			<ul>
      				<li data-open-after="true">
      					<a href="index.html">Dashboard</a>
      				</li>
      				<li>
      					<a href="javascript:;">Cards</a>
      					<ul class="child-menu">
      						<li><a href="#">Image Cards</a></li>
      						<li><a href="#">Video Cards</a></li>
      					</ul>
      				</li>
      				<li>
      					<a href="javascript:;">UI Elements</a>
      					<ul class="child-menu">
      						<li><a href="#">General</a></li>
      						<li><a href="#">Buttons</a></li>
      						<li><a href="#">Lists</a></li>
      						<li><a href="#">Social Buttons</a></li>
      						<li><a href="#">Font Icons</a></li>
      						<li><a href="#">Tabs &amp; Accordions</a></li>
      						<li><a href="#">Loaders</a></li>
      					</ul>
      				</li>
      				<li>
      					<a href="javascript:;">Forms</a>
      					<ul class="child-menu">
      						<li><a href="#">HTML5</a></li>
      						<li>
      							<a href="javascript:;">Uploaders</a>
      							<ul class="child-menu">
      								<li><a href="#">Dropzone</a></li>
      							</ul>
      						</li>
      					</ul>
      				</li>
      				<li>
      					<a href="#">Layouts</a>
      				</li>
      				<li>
      					<a href="javascript:;">Charts</a>
      					<ul class="child-menu">
      						<li><a href="#">C3 Charts</a></li>
      						<li><a href="#">Chart JS</a></li>
      						<li><a href="#">Google Charts?</a></li>
      					</ul>
      				</li>
      				<li>
      					<a href="javascript:;">Maps</a>
      					<ul class="child-menu">
      						<li><a href="#">Google Maps</a></li>
      						<li><a href="#">Alternative</a></li>
      					</ul>
      				</li>
      				<li>
      					<a href="javascript:;">Email Templates</a>
      					<ul class="child-menu">
      						<li><a href="#" target="_blank">Basic Template</a></li>
      						<li><a href="#" target="_blank">Invoice Template</a></li>
      						<li><a href="#" target="_blank">List Template</a></li>
      					</ul>
      				</li>
      				<li>
      					<a href="#">HOMEPAGE</a>
      				</li>
      			</ul>
      		</div> -->
      		<!-- END MENU -->

      		<!-- BEGIN SEARCH LAYER -->
      		<!-- <div class="search-layer">
      			<div class="search">
      				<form action="pages-search-results.html">
      					<div class="form-group">
      						<input type="text" id="input-search" class="form-control" placeholder="type something">
      						<button type="submit" class="btn btn-default disabled"><i class="ion-search"></i></button>
      					</div>
      				</form>
      			</div>

      			<div class="results">
      				<div class="row">
      					<div class="col-md-4">
      						<div class="result result-users">
      							<h4>USERS <small>(3)</small></h4>

      							<ul class="list-material">
      								<li class="has-action-left">
      									<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
      									<a href="#" class="visible">
      										<div class="list-action-left">
      											<img src="faces/1.jpg" class="face-radius" alt="">
      										</div>
      										<div class="list-content">
      											<span class="title">Pari Subramanium</span>
      											<span class="caption">Legacy Response Assistant</span>
      										</div>
      									</a>
      								</li>
      								<li class="has-action-left">
      									<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
      									<a href="#" class="visible">
      										<div class="list-action-left">
      											<img src="faces/10.jpg" class="face-radius" alt="">
      										</div>
      										<div class="list-content">
      											<span class="title">Andrew Fox</span>
      											<span class="caption">National Branding Technician</span>
      										</div>
      									</a>
      								</li>
      								<li class="has-action-left">
      									<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
      									<a href="#" class="visible">
      										<div class="list-action-left">
      											<img src="faces/11.jpg" class="face-radius" alt="">
      										</div>
      										<div class="list-content">
      											<span class="title">Lieke Vermeulen</span>
      											<span class="caption">Global Tactics Consultant</span>
      										</div>
      									</a>
      								</li>
      							</ul>

      						</div>
      					</div>
      					<div class="col-md-4">
      						<div class="result result-posts">
      							<h4>POSTS <small>(5)</small></h4>

      							<ul class="list-material">
      								<li class="has-action-left">
      									<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
      									<a href="#" class="visible">
      										<div class="list-action-left">
      											<img src="picjumbo/1.jpg" class="img-radius" alt="">
      										</div>
      										<div class="list-content">
      											<span class="title">Mobile Trends for 2015</span>
      											<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks.</span>
      										</div>
      									</a>
      								</li>
      								<li class="has-action-left">
      									<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
      									<a href="#" class="visible">
      										<div class="list-action-left">
      											<img src="picjumbo/10.jpg" class="img-radius" alt="">
      										</div>
      										<div class="list-content">
      											<span class="title">Interview with Phillip Riley</span>
      											<span class="caption">Dynamically procrastinate B2C users after installed base benefits.</span>
      										</div>
      									</a>
      								</li>
      								<li class="has-action-left">
      									<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
      									<a href="#" class="visible">
      										<div class="list-action-left">
      											<img src="picjumbo/11.jpg" class="img-radius" alt="">
      										</div>
      										<div class="list-content">
      											<span class="title">Workspaces</span>
      											<span class="caption">Dramatically visualize customer directed convergence without revolutionary ROI.</span>
      										</div>
      									</a>
      								</li>
      								<li class="has-action-left">
      									<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
      									<a href="#" class="visible">
      										<div class="list-action-left">
      											<img src="picjumbo/5.jpg" class="img-radius" alt="">
      										</div>
      										<div class="list-content">
      											<span class="title">Graphics &amp; Multimedia</span>
      											<span class="caption">Efficiently unleash cross-media information without cross-media value.</span>
      										</div>
      									</a>
      								</li>
      								<li class="has-action-left">
      									<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
      									<a href="#" class="visible">
      										<div class="list-action-left">
      											<img src="picjumbo/6.jpg" class="img-radius" alt="">
      										</div>
      										<div class="list-content">
      											<span class="title">Interactive Storytelling</span>
      											<span class="caption">Quickly maximize timely deliverables for real-time schemas.</span>
      										</div>
      									</a>
      								</li>
      							</ul>

      						</div>
      					</div>
      					<div class="col-md-4">
      						<div class="result result-files">
      							<h4>FILES <small>(0)</small></h4>
      							<p>No results were found</p>
      						</div>
      					</div>

      				</div>
      			</div>
      		</div> -->
      		<!-- END SEARCH -->

      		<!-- BEGIN USER LAYER -->
      		<!-- <div class="user-layer">
      			<ul class="nav nav-tabs nav-justified" role="tablist">
      				<li class="active"><a href="#messages" data-toggle="tab">Messages</a></li>
      				<li><a href="#notifications" data-toggle="tab">Notifications <span class="badge">3</span></a></li>
      				<li><a href="#settings" data-toggle="tab">Settings</a></li>
      			</ul>

      			<div class="row no-gutters tab-content">

      				<div class="tab-pane fade in active" id="messages">
      					<div class="col-md-4">
      						<div class="message-list-overlay"></div>

      						<ul class="list-material message-list">
      							<li class="has-action-left has-action-right">
      								<a href="#" class="visible" data-message-id="1">
      									<div class="list-action-left">
      										<img src="faces/1.jpg" class="face-radius" alt="">
      									</div>
      									<div class="list-content">
      										<span class="title">Pari Subramanium</span>
      										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
      									</div>
      									<div class="list-action-right">
      										<span class="top">15 min</span>
      										<i class="ion-android-done bottom"></i>
      									</div>
      								</a>
      							</li>
      							<li class="has-action-left has-action-right">
      								<a href="#" class="visible" data-message-id="2">
      									<div class="list-action-left">
      										<img src="faces/10.jpg" class="face-radius" alt="">
      									</div>
      									<div class="list-content">
      										<span class="title">Andrew Fox</span>
      										<span class="caption">Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value.</span>
      									</div>
      									<div class="list-action-right">
      										<span class="top">2 hr</span>
      										<i class="ion-android-done bottom"></i>
      									</div>
      								</a>
      							</li>
      						</ul>
      					</div>
      					<div class="col-md-8">
      						<div class="message-send-container">

      							<div class="messages">
      								<div class="message left">
      									<div class="message-text">Hello!</div>
      									<img src="faces/1.jpg" class="user-picture" alt="">
      								</div>
      								<div class="message right">
      									<div class="message-text">Hi!</div>
      									<div class="message-text">Credibly innovate granular internal or "organic" sources whereas high standards in web-readiness. Energistically scale future-proof core competencies vis-a-vis impactful experiences.</div>
      									<img src="faces/tolga-ergin.jpg" class="user-picture" alt="">
      								</div>
      								<div class="message left">
      									<div class="message-text">Dramatically synthesize integrated schemas with optimal networks.</div>
      									<img src="faces/1.jpg" class="user-picture" alt="">
      								</div>
      								<div class="message right">
      									<div class="message-text">Interactively procrastinate high-payoff content</div>
      									<img src="faces/tolga-ergin.jpg" class="user-picture" alt="">
      								</div>
      								<div class="message left">
      									<div class="message-text">Globally incubate standards compliant channels before scalable benefits. Quickly disseminate superior deliverables whereas web-enabled applications. Quickly drive clicks-and-mortar catalysts for change before vertical architectures.</div>
      									<div class="message-text">Credibly reintermediate backend ideas for cross-platform models. Continually reintermediate integrated processes through technically sound intellectual capital. Holistically foster superior methodologies without market-driven best practices.</div>
      									<img src="faces/1.jpg" class="user-picture" alt="">
      								</div>
      								<div class="message right">
      									<div class="message-text">Distinctively exploit optimal alignments for intuitive bandwidth</div>
      									<img src="faces/tolga-ergin.jpg" class="user-picture" alt="">
      								</div>
      								<div class="message left">
      									<div class="message-text">Quickly coordinate e-business applications through</div>
      									<img src="faces/1.jpg" class="user-picture" alt="">
      								</div>
      							</div>

      							<div class="send-message">
      								<div class="input-group">
      									<div class="inputer inputer-blue">
      										<div class="input-wrapper">
      											<textarea rows="1" id="send-message-input" class="form-control js-auto-size" placeholder="Message"></textarea>
      										</div>
      									</div>
      									<span class="input-group-btn">
      										<button id="send-message-button" class="btn btn-blue" type="button">Send</button>
      									</span>
      								</div>
      							</div>

      						</div>
      					</div>

      					<div class="mobile-back">
      						<div class="mobile-back-button"><i class="ion-android-arrow-back"></i></div>
      					</div>
      				</div>

      				<div class="tab-pane fade" id="notifications">

      					<div class="col-md-6 col-md-offset-3">

      						<ul class="list-material has-hidden">
      							<li class="has-action-left has-action-right has-long-story">
      								<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
      								<a href="#" class="visible">
      									<div class="list-action-left">
      										<i class="ion-bag icon text-indigo"></i>
      									</div>
      									<div class="list-content">
      										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
      									</div>
      									<div class="list-action-right">
      										<span class="top">2 hr</span>
      										<i class="ion-record text-green bottom"></i>
      									</div>
      								</a>
      							</li>
      							<li class="has-action-left has-action-right has-long-story">
      								<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
      								<a href="#" class="visible">
      									<div class="list-action-left">
      										<i class="ion-image text-green icon"></i>
      									</div>
      									<div class="list-content">
      										<span class="caption">Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value.</span>
      									</div>
      									<div class="list-action-right">
      										<span class="top">16:55</span>
      										<i class="ion-record text-green bottom"></i>
      									</div>
      								</a>
      							</li>
      							<li class="has-action-left has-action-right has-long-story">
      								<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
      								<a href="#" class="visible">
      									<div class="list-action-left">
      										<img src="faces/13.jpg" class="face-radius" alt="">
      									</div>
      									<div class="list-content">
      										<span class="caption">Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</span>
      									</div>
      									<div class="list-action-right">
      										<span class="top">Yesterday</span>
      										<i class="ion-record text-green bottom"></i>
      									</div>
      								</a>
      							</li>
      							<li class="has-action-left has-action-right has-long-story">
      								<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
      								<a href="#" class="visible">
      									<div class="list-action-left">
      										<i class="ion-location text-light-blue icon"></i>
      									</div>
      									<div class="list-content">
      										<span class="caption">Dynamically innovate resource-leveling customer service for state of the art customer service. Objectively innovate empowered manufactured products whereas parallel platforms.</span>
      									</div>
      									<div class="list-action-right">
      										<span class="top">1 week ago</span>
      										<i class="ion-android-done bottom"></i>
      									</div>
      								</a>
      							</li>
      							<li class="has-action-left has-action-right has-long-story">
      								<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
      								<a href="#" class="visible">
      									<div class="list-action-left">
      										<i class="ion-bookmark text-deep-orange icon"></i>
      									</div>
      									<div class="list-content">
      										<span class="caption">Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</span>
      									</div>
      									<div class="list-action-right">
      										<span class="top">10 Jan</span>
      										<i class="ion-android-done bottom"></i>
      									</div>
      								</a>
      							</li>
      							<li class="has-action-left has-action-right has-long-story">
      								<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
      								<a href="#" class="visible">
      									<div class="list-action-left">
      										<i class="ion-locked icon"></i>
      									</div>
      									<div class="list-content">
      										<span class="caption">Phosfluorescently engage worldwide methodologies with web-enabled technology.</span>
      									</div>
      									<div class="list-action-right">
      										<span class="top">9 Jan</span>
      										<i class="ion-android-done bottom"></i>
      									</div>
      								</a>
      							</li>
      						</ul>

      					</div>
      				</div>

      				<div class="tab-pane fade" id="settings">
      					<div class="col-md-6 col-md-offset-3">

      						<div class="settings-panel">
      							<p class="text-grey">Adjust your settings here.</p>

      							<div class="legend">Privacy Controls</div>
      							<ul>
      								<li>
      									Show my profile on search results
      									<div class="switcher switcher-indigo pull-right">
      										<input id="settings1" type="checkbox" hidden="hidden" checked="checked">
      										<label for="settings1"></label>
      									</div>
      								</li>
      								<li>
      									Only God can judge me
      									<div class="switcher switcher-indigo pull-right">
      										<input id="settings2" type="checkbox" hidden="hidden" checked="checked">
      										<label for="settings2"></label>
      									</div>
      								</li>
      								<li>
      									Review tags people add to your own posts
      									<div class="switcher switcher-indigo pull-right">
      										<input id="settings3" type="checkbox" hidden="hidden">
      										<label for="settings3"></label>
      									</div>
      								</li>
      							</ul>

      							<div class="legend">Notifications</div>
      							<ul>
      								<li>
      									Activity that involves you
      									<div class="switcher switcher-indigo pull-right">
      										<input id="settings4" type="checkbox" hidden="hidden" checked="checked">
      										<label for="settings4"></label>
      									</div>
      								</li>
      								<li>
      									Birthdays
      									<div class="switcher switcher-indigo pull-right">
      										<input id="settings5" type="checkbox" hidden="hidden">
      										<label for="settings5"></label>
      									</div>
      								</li>
      								<li>
      									Calendar events
      									<div class="switcher switcher-indigo pull-right">
      										<input id="settings6" type="checkbox" hidden="hidden">
      										<label for="settings6"></label>
      									</div>
      								</li>
      							</ul>

      							<div class="legend">Newsletter</div>
      							<ul>
      								<li>
      									Friend requests
      									<div class="checkboxer checkboxer-indigo pull-right">
      										<input type="checkbox" id="checkboxSettings1" value="option1" checked="checked">
      										<label for="checkboxSettings1"></label>
      									</div>
      								</li>
      								<li>
      									People you may know
      									<div class="checkboxer checkboxer-indigo pull-right">
      										<input type="checkbox" id="checkboxSettings2" value="option1">
      										<label for="checkboxSettings2"></label>
      									</div>
      								</li>
      							</ul>

      						</div>

      					</div>
      				</div>

      			</div>
      		</div>

      	</div> -->

      	<!-- custom and vendor js -->
      	<!-- <script src="../../assets/globals/js/global-vendors.js"></script>
      	<script src="http://maps.google.com/maps/api/js?sensor=true&amp;libraries=places"></script>
      	<script src="../../assets/globals/plugins/gmaps/gmaps.js"></script>
      	<script src="../../assets/globals/plugins/bxslider/jquery.bxslider.min.js"></script>
      	<script src="../../assets/globals/plugins/audiojs/audiojs/audio.min.js"></script>
      	<script src="../../assets/globals/plugins/d3/d3.min.js"></script>
      	<script src="../../assets/globals/plugins/rickshaw/rickshaw.min.js"></script>
      	<script src="../../assets/globals/plugins/jquery-knob/excanvas.js"></script>
      	<script src="../../assets/globals/plugins/jquery-knob/dist/jquery.knob.min.js"></script>
      	<script src="../../assets/globals/plugins/gauge/gauge.min.js"></script>
      	<script src="../../assets/globals/js/pleasure.js"></script>
      	<script src="../../assets/admin1/js/layout.js"></script>
      	<script src="../../assets/globals/scripts/sliders.js"></script>
      	<script src="../../assets/globals/scripts/maps-google.js"></script>
      	<script src="../../assets/globals/scripts/widget-audio.js"></script>
      	<script src="../../assets/globals/scripts/charts-knob.js"></script>
      	<script src="../../assets/globals/scripts/index.js"></script> -->

      	<!-- BEGIN INITIALIZATION-->
      	<!-- <script>
      	$(document).ready(function () {
      		Pleasure.init();
      		Layout.init();

      		Index.init();
      		WidgetAudio.single();
      		ChartsKnob.init();

      	});
      	</script> -->

      	<!-- Google Analytics -->
      	<!-- <script>
      		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
      		ga('send', 'pageview');
      	</script>


      </section>
  </div> -->
