<!-- Intro and header -->
  <div id="blog" class="inner-content">

      <section id="page-title" class="inner-section">
        <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
            <h2 class="font-accident-two-normal uppercase">GITHUB</h2>
            <h5 class="font-accident-one-bold hovercolor uppercase">open source contributions and creations</h5>

      <div class="row">

        <!-- Github heatmap -->

            <div class="e-centered wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">
              <img src="http://ghchart.rshah.org/2b747d/hkdeven" alt="Deven's activity chart on Github" />
              <div id="github-widget" data-user="hkdeven" data-display="pop_repos,contribution,calendar">
              </div>
            </div>

            <div class="dividewhite2"></div>

        <!-- Button to Github -->
          <div class="row nopadding wow fadeInDown" data-wow-delay=".4s" data-wow-offset="10">
                <div class="github-card" data-github="hkdeven" data-width="400" data-height="" data-theme="default"></div>
                <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

                <!-- <a href="https://github.com/hkdeven" target="_blank">
                 <button class="btn btn-lg btn-lgr-str">
                   <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/icon-github-button.png", :size => '16x16' %>
                   GITHUB PAGE
                 </button>
               </a> -->

            </div>
          </div>

      <!-- Github widget -->
<!--        <div class="col-md-2 col-lg-2">&nbsp;</div>

          <div class="col-md-8 col-lg-8 e-centered wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">
            <div id="github-widget" data-user="hkdeven" data-display="pop_repos,contribution,calendar">
            </div>
          </div>

            <script src="https://gh-widget.oyanglul.us/index.js"></script>
-->
      </div>

        <div class="dividewhite2"></div>

    </div>
  </section>
</div>
