<!-- Intro and header -->

  <div id="blog" class="inner-content">

      <section id="page-title" class="inner-section">
         <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
            <h2 class="font-accident-two-normal uppercase">PROJECTS</h2>
            <h5 class="font-accident-one-bold hovercolor uppercase">Past & Current</h5>
            <p class="small font-color-medium">
               Current and past projects, both open-source and otherwise.  Interesting in collaborating on an upcoming project?  Click on the <strong>CONTACT</strong> button above.
            </p>
         </div>
      </section>

      <section class="inner-section">

    <!-- Filter Tags -->

        <div id="isotope-filters" class="port-filter port-filter-light text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
            <ul>
               <li><a href="#all" data-filter="*">All Categories</a></li>
               <li><a href="#design" data-filter=".design">Design</a></li>
               <li><a href="#nonprofit" data-filter=".nonprofit">Nonprofit</a></li>
               <li><a href="#news" data-filter=".news">News</a></li>
               <li><a href="#rss" data-filter=".rss">RSS</a></li>
               <li><a href="#responsive" data-filter=".responsive">Responsive</a></li>
               <li><a href="#branding" data-filter=".branding">Branding</a></li>
               <li><a href="#api" data-filter=".api">API</a></li>
               <li><a href="#cms" data-filter=".cms">CMS</a></li>
               <li><a href="#erp" data-filter=".erp">ERP</a></li>
               <li><a href="#cdn" data-filter=".cdn">CDN</a></li>
            </ul>
        </div>

      <div class="dividewhite3"></div>

    <!-- Projects Block -->

      <div class="grid container-fluid text-center wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">

          <div id="posts" class="row popup-container">

                <!-- Project: CONSTRUCTIVE -->

                  <div class="grid-item grid-sizer nonprofit responsive design api col-md-4 col-sm-6">
                    <div class="item-wrap">
                      <figure class="">

                      <!-- Project Image -->
                        <figure class="effect-goliath aqua">
                          <img src="https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/project-constructive.png" class="img-responsive hvr-grow" alt="Be Constructive"/>
                            <figcaption>
                              <div class="fig-description">
                                <h3>Constructive</h3>
                                  <p></p>
                                  <p>#responsive #nonprofit #design #api</p>
                              </div>
                            </figcaption>
                          </figure>

                        <div class="dividewhite1"></div>

                    <!-- Project Author and Timestamp -->
                      <figcaption>
                        <div class="post-meta">
                          <span>by <a href="https://github.com/hkdeven">Deven Blackburn</a>,</span> <span>25 April, 2016</span>
                        </div>

                        <div class="dividewhite1"></div>

                      <!-- Project Description -->
                        <div class="post-header">
                          <h5><a href="https://github.com/hkdeven/Be-Constructive">Constructive</a></h5>
                        </div>
                          <div class="post-entry">
                            <p>Built on behalf of <a href="http://www.thelastmile.org" target="_blank">The Last Mile</a>, this application was built as a design-oriented learning tool for developers in training. Content provided via the Dribbble API. Need inspiration for your project? Be inspired.<br><i>Be CONSTRUCTIVE</i>.</p>
                          </div>
                            <div class="post-tag pull-left">
                              <span><a href="#responsive" data-filter=".responsive">responsive</a>,</span>
                              <span><a href="#design" data-filter=".design">Design</a></span>
                              <span><a href="#api" data-filter=".api">api</a>,</span>
                              <span><a href="#nonprofit" data-filter=".nonprofit">nonprofit</a></span>
                            </div>

                          <div class="post-more-link pull-right">
                            <a href="https://github.com/hkdeven/Be-Constructive" target="_blank">More</a>
                          </div>
                      </figcaption>

                    </figure>
                  </div>
                </div>

            <!-- Project: NEWS FEED -->

                <div class="grid-item grid-sizer responsive news rss col-md-4 col-sm-6">
                  <div class="item-wrap">
                    <figure class="">

                    <!-- Project Image -->
                      <figure class="effect-goliath misted-guava">
                        <img src="https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/project-huffpost.png" class="img-responsive hvr-grow" alt="News Feed"/>
                          <figcaption>
                            <div class="fig-description">
                              <h3>Huffington <span>Post</span></h3>
                                <p></p>
                                <p>#news #rss #branding</p>
                            </div>
                          </figcaption>
                        </figure>

                      <div class="dividewhite1"></div>

                  <!-- Project Author and Timestamp -->
                    <figcaption>
                      <div class="post-meta">
                        <span>by <a href="https://github.com/hkdeven">Deven Blackburn</a>,</span> <span>25 March, 2016</span>
                      </div>

                      <div class="dividewhite1"></div>

                    <!-- Project Description -->
                      <div class="post-header">
                        <h5><a href="https://github.com/hkdeven/Be-Constructive">News Feed Integration</a></h5>
                      </div>
                        <div class="post-entry">
                          <p>Coding and tech news served via Huffington Posts's Huffpost Code news feed using a RSS reader.  Shows current news relevant to the tech community.</p>
                        </div>
                          <div class="post-tag pull-left">
                            <span><a href="#news" data-filter=".news">News</a>,</span>
                            <span><a href="#rss" data-filter=".rss">RSS</a>,</span>
                            <span><a href="#responsive" data-filter=".responsive">responsive</a></span>
                          </div>

                        <div class="post-more-link pull-right">
                          <a href="https://github.com/hkdeven/Be-Constructive" target="_blank">More</a>
                        </div>
                    </figcaption>

                  </figure>
                </div>
              </div>

            <!-- Project: EXPATik -->
              <div class="grid-item grid-sizer responsive design api branding col-md-4 col-sm-6">
                <div class="item-wrap">
                  <figure class="">

                  <!-- Project Image -->
                    <figure class="effect-goliath dusted-lemon">
                      <img src="https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/project-expatik.png" class="img-responsive hvr-grow" alt="EXPATik App"/>
                        <figcaption>
                          <div class="fig-description">
                            <h3>EXPATik</h3>
                              <p></p>
                              <p>#responsive #api #design #branding</p>
                          </div>
                        </figcaption>
                      </figure>

                    <div class="dividewhite1"></div>

                <!-- Project Author and Timestamp -->
                  <figcaption>
                    <div class="post-meta">
                      <span>by <a href="https://github.com/hkdeven">Deven Blackburn</a>,</span> <span>30 April, 2016</span>
                    </div>

                    <div class="dividewhite1"></div>

                  <!-- Project Description -->
                    <div class="post-header">
                      <h5><a href="https://github.com/hkdeven/EXPATik">EXPATik Application</a></h5>
                    </div>
                      <div class="post-entry">
                        <p>An in-depth city resource for the expat community ranking cities based on affordability, healthcare, economic stability, and safety. Content pulled using APIs: GoogleMaps for city maps, GoodReads for location-based book recommendations, and Twitter city-specific expat community conversations.</p>
                      </div>
                        <div class="post-tag pull-left">
                          <span><a href="#responsive" data-filter=".responsive">responsive</a>,</span>
                          <span><a href="#branding" data-filter=".branding">branding</a>,</span>
                          <span><a href="#design" data-filter=".design">Design</a>,</span>
                          <span><a href="#api" data-filter=".api">api</a></span>
                        </div>

                      <div class="post-more-link pull-right">
                        <a href="https://github.com/hkdeven/EXPATik" target="_blank">More</a>
                      </div>
                  </figcaption>

                </figure>
              </div>
            </div>

          <!-- Project: CONTENTFUL API -->

              <div class="grid-item grid-sizer cms cdn api col-md-4 col-sm-6">
                <div class="item-wrap">
                  <figure class="">

                  <!-- Project Image -->
                    <figure class="effect-goliath misted-guava">
                      <img src="https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/project-contentful.png" class="img-responsive hvr-grow" alt="Contentful"/>
                        <figcaption>
                          <div class="fig-description">
                            <h3>Contentful</h3>
                              <p></p>
                              <p>#cms #cdn #api</p>
                          </div>
                        </figcaption>
                      </figure>

                    <div class="dividewhite1"></div>

                <!-- Project Author and Timestamp -->
                  <figcaption>
                    <div class="post-meta">
                      <span>by <a href="https://github.com/hkdeven">Deven Blackburn</a>,</span> <span>16 August, 2016</span>
                    </div>

                    <div class="dividewhite1"></div>

                  <!-- Project Description -->
                    <div class="post-header">
                      <h5><a>Contentful</a></h5>
                    </div>
                      <div class="post-entry">
                        <p>A high performance and efficient content management developer platform (or CMS) that enables developers to manage, integrate, and serve content via an API.</p>
                      </div>
                      <div class="post-tag pull-left">
                        <span><a href="#cms" data-filter=".cms">CMS</a>,</span>
                        <span><a href="#cdn" data-filter=".cdn">CDN</a></span>
                        <span><a href="#api" data-filter=".api">api</a></span>
                      </div>

                  </figcaption>

                </figure>
              </div>
            </div>

          <!-- Project: ALLIED BUILDINGS REACT SITE -->

              <div class="grid-item grid-sizer responsive crm cdn design api col-md-4 col-sm-6">
                <div class="item-wrap">
                  <figure class="">

                  <!-- Project Image -->
                    <figure class="effect-goliath eggplant">
                      <img src="https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/project-allied-react.jpg" class="img-responsive hvr-grow" alt="Allied Website using React"/>
                        <figcaption>
                          <div class="fig-description">
                            <h3>Allied Website</h3>
                              <p></p>
                              <p>#crm #design #api</p>
                          </div>
                        </figcaption>
                      </figure>

                    <div class="dividewhite1"></div>

                <!-- Project Author and Timestamp -->
                  <figcaption>
                    <div class="post-meta">
                      <span>by <a href="https://github.com/hkdeven">Deven Blackburn</a>,</span> <span>15 October, 2016</span>
                    </div>

                    <div class="dividewhite1"></div>

                  <!-- Project Description -->
                    <div class="post-header">
                      <h5><a>Allied Website (React)</a></h5>
                    </div>
                      <div class="post-entry">
                        <p>This was a high-performance, single-page website built using pieces of legacy code for a multinational building company using a SPA tech stack composed of React, Redux, Node, Webpack, and Babel. Nearly all content was served via a combination of APIs for Zoho CRM, Contentful, and Google Maps.</p>
                      </div>
                      <div class="post-tag pull-left">
                        <span><a href="#responsive" data-filter=".responsive">responsive</a>,</span>
                        <span><a href="#design" data-filter=".design">Design</a></span>
                        <span><a href="#api" data-filter=".api">api</a></span>
                        <span><a href="#crm" data-filter=".crm">CRM</a></span>
                      </div>

                  </figcaption>

                </figure>
              </div>
            </div>

            <!-- Project: ZOHO CRM -->

              <div class="grid-item grid-sizer crm erp api col-md-4 col-sm-6">
                <div class="item-wrap">
                  <figure class="">

                  <!-- Project Image -->
                    <figure class="effect-goliath aqua">
                      <img src="https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/project-zoho-crm.png" class="img-responsive hvr-grow" alt="Google Maps"/>
                        <figcaption>
                          <div class="fig-description">
                            <h3>Zoho CRM</h3>
                              <p></p>
                              <p>#crm #api #erp</p>
                          </div>
                        </figcaption>
                      </figure>

                    <div class="dividewhite1"></div>

                <!-- Project Author and Timestamp -->
                  <figcaption>
                    <div class="post-meta">
                      <span>by <a href="https://github.com/hkdeven">Deven Blackburn</a>,</span> <span>15 September, 2016</span>
                    </div>

                    <div class="dividewhite1"></div>

                  <!-- Project Description -->
                    <div class="post-header">
                      <h5><a>Zoho CRM</a></h5>
                    </div>
                      <div class="post-entry">
                        <p>Zoho is very similar to SalesForce, if Salesforce were more like Google and one-tenth the price.  Specifically used Zoho to manage sales pipeline, client and vendor CRM, and email marketing.</p>
                      </div>
                      <div class="post-tag pull-left">
                          <span><a href="#crm" data-filter=".crm">crm</a>,</span>
                          <span><a href="#api" data-filter=".api">api</a></span>
                          <span><a href="#erp" data-filter=".erp">erp</a></span>
                        </div>

                  </figcaption>

                </figure>
              </div>
            </div>

          <!-- Project: GOOGLE MAPS API -->

              <div class="grid-item grid-sizer responsive design api col-md-4 col-sm-6">
                <div class="item-wrap">
                  <figure class="">

                  <!-- Project Image -->
                    <figure class="effect-goliath dusted-lemon">
                      <img src="https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/project-googlemaps.png" class="img-responsive hvr-grow" alt="Google Maps"/>
                        <figcaption>
                          <div class="fig-description">
                            <h3>Google Maps</h3>
                              <p></p>
                              <p>#responsive #design #api</p>
                          </div>
                        </figcaption>
                      </figure>

                    <div class="dividewhite1"></div>

                <!-- Project Author and Timestamp -->
                  <figcaption>
                    <div class="post-meta">
                      <span>by <a href="https://github.com/hkdeven">Deven Blackburn</a>,</span> <span>30 April, 2016</span>
                    </div>

                    <div class="dividewhite1"></div>

                  <!-- Project Description -->
                    <div class="post-header">
                      <h5><a>Google Maps</a></h5>
                    </div>
                      <div class="post-entry">
                        <p>Google Maps API used in the EXPATik application for city maps.</p>
                      </div>
                        <div class="post-tag pull-left">
                          <span><a href="#responsive" data-filter=".responsive">responsive</a>,</span>
                          <span><a href="#design" data-filter=".design">Design</a></span>
                          <span><a href="#api" data-filter=".api">api</a></span>
                        </div>

                  </figcaption>

                </figure>
              </div>
            </div>

          <!-- Project: THE SUAVE DEVELOPER -->

              <div class="grid-item grid-sizer responsive design news blog col-md-4 col-sm-6">
                <div class="item-wrap">
                  <figure class="">

                  <!-- Project Image -->
                    <figure class="effect-goliath succulent">
                      <img src="https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/project-suavedeveloper.png" class="img-responsive hvr-grow" alt="The Suave Developer"/>
                        <figcaption>
                          <div class="fig-description">
                            <h3>the suave developer</h3>
                              <p></p>
                              <p>#responsive #blog #design #news</p>
                          </div>
                        </figcaption>
                      </figure>

                    <div class="dividewhite1"></div>

                <!-- Project Author and Timestamp -->
                  <figcaption>
                    <div class="post-meta">
                      <span>by <a href="https://github.com/hkdeven">Deven Blackburn</a>,</span> <span>16 March, 2016</span>
                    </div>

                    <div class="dividewhite1"></div>

                  <!-- Project Description -->
                    <div class="post-header">
                      <h5><a href="https://github.com/hkdeven/Be-Constructive">The Suave Developer</a></h5>
                    </div>
                      <div class="post-entry">
                        <p>Curated design and frontend content for the suave developer.  Originally launched as part of a design-learning tool for coding bootcamp students.  Hone your UX skills at <i>The Suave Developer</i>.</p>
                      </div>
                        <div class="post-tag pull-left">
                          <span><a href="#responsive" data-filter=".responsive">responsive</a>,</span>
                          <span><a href="#design" data-filter=".design">Design</a>,</span>
                          <span><a href="#news" data-filter=".news">News</a>,</span>
                          <span><a href="#blog" data-filter=".blog">blog</a></span>
                        </div>

                      <div class="post-more-link pull-right">
                        <a href="https://github.com/hkdeven/Be-Constructive" target="_blank">More</a>
                      </div>
                  </figcaption>

                </figure>
              </div>
            </div>

          <!-- Project: PORTFOLIO SITE -->

              <div class="grid-item grid-sizer api responsive design blog col-md-4 col-sm-6">
                <div class="item-wrap">
                  <figure class="">

                  <!-- Project Image -->
                    <figure class="effect-goliath eggplant">
                      <img src="https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/project-portfoliosite.png" class="img-responsive hvr-grow" alt="The Suave Developer"/>
                        <figcaption>
                          <div class="fig-description">
                            <h3>Portfolio Site</h3>
                              <p></p>
                              <p>#responsive #blog #design</p>
                          </div>
                        </figcaption>
                      </figure>

                    <div class="dividewhite1"></div>

                <!-- Project Author and Timestamp -->
                  <figcaption>
                    <div class="post-meta">
                      <span>by <a href="https://github.com/hkdeven">Deven Blackburn</a>,</span> <span>8 June, 2016</span>
                    </div>

                    <div class="dividewhite1"></div>

                  <!-- Project Description -->
                    <div class="post-header">
                      <h5><a href="https://github.com/hkdeven/Portfolio-Site">Porfolio Site</a></h5>
                    </div>
                      <div class="post-entry">
                        <p>You're looking at it!  A place to showcase my work, experience, and references.  Made use of the Google Maps API for the contact page.</p>
                      </div>
                        <div class="post-tag pull-left">
                          <span><a href="#responsive" data-filter=".responsive">responsive</a>,</span>
                          <span><a href="#design" data-filter=".design">Design</a>,</span>
                          <span><a href="#api" data-filter=".api">api</a></span>
                        </div>

                      <div class="post-more-link pull-right">
                        <a href="https://github.com/hkdeven/Portfolio-Site" target="_blank">More</a>
                      </div>
                  </figcaption>

                </figure>
              </div>
            </div>

          <!-- Project: GOODREADS API -->

              <div class="grid-item grid-sizer responsive design api col-md-4 col-sm-6">
                <div class="item-wrap">
                  <figure class="">

                  <!-- Project Image -->
                    <figure class="effect-goliath aqua">
                      <img src="https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/project-goodreads.png" class="img-responsive hvr-grow" alt="GoodReads"/>
                        <figcaption>
                          <div class="fig-description">
                            <h3>GoodReads</h3>
                              <p></p>
                              <p>#responsive #design #api</p>
                          </div>
                        </figcaption>
                      </figure>

                    <div class="dividewhite1"></div>

                <!-- Project Author and Timestamp -->
                  <figcaption>
                    <div class="post-meta">
                      <span>by <a href="https://github.com/hkdeven">Deven Blackburn</a>,</span> <span>30 April, 2016</span>
                    </div>

                    <div class="dividewhite1"></div>

                  <!-- Project Description -->
                    <div class="post-header">
                      <h5><a>GoodReads</a></h5>
                    </div>
                      <div class="post-entry">
                        <p>API used in the EXPATik application to provide book recommendations based on city location.</p>
                      </div>
                        <div class="post-tag pull-left">
                          <span><a href="#responsive" data-filter=".responsive">responsive</a>,</span>
                          <span><a href="#design" data-filter=".design">Design</a></span>
                          <span><a href="#api" data-filter=".api">api</a></span>
                        </div>

                  </figcaption>

                </figure>
              </div>
            </div>

          <!-- End of projects -->

        </div>
      </div>
    <div class="dividewhite3"></div>
  </section>

</div>
