<div class="col-md-8 nopadding">
   <div class="padding-50 wow fadeInDown" data-wow-delay="0.2s" data-wow-offset="10">
      <div class="row nopadding">
         <div class="col-md-12 nopadding">
            <h3 class="font-accident-two-normal uppercase">About me</h3>
            <div class="quote">
               <h5 class="font-accident-one-bold hovercolor uppercase">Vinophile • Full Stack Developer • Traveller</h5>
               <div class="dividewhite1"></div>
               <p class="small">
                  Recent graduate of <a href="http://wyncode.co/" target="_blank">Wyncode Academy</a>, the best-rated
development boot camp in the Southeast.
               </p>
            </div>
         </div>
      </div>
      <div class="divider-dynamic"></div>
      <div class="row nopadding">
         <div class="col-md-4 infoblock nopadding">
            <div class="row">
               <div class="col-sm-1 col-md-3">
<%= image_tag "icon-frameworks.png", :size => '44x44' %>
                 <div class="dividewhite1"></div></div>
               <div class="col-sm-11 col-md-9 ">
                  <h5 class="font-accident-one-bold uppercase">Languages</h5>
                  <p class="small">
                     Ruby, HTML5, CSS3, SASS, Javascript, and JQuery. Database use includes PostgreSQL, sqlite, and SQL.
                  </p>
               </div>
            </div>
            <div class="divider-dynamic"></div>
         </div>
         <div class="col-md-4 infoblock nopadding">
            <div class="row">
               <div class="col-sm-1 col-md-3 ">
                   <%= image_tag "icon-tools.png", :size => '44x44' %>
                 <div class="dividewhite1"></div></div>
               <div class="col-sm-11 col-md-9 ">
                  <h5 class="font-accident-one-bold uppercase">Frameworks</h5>
                  <p class="small">
                     Rails, Sinatra, Bootstrap, CakePHP, Ember, Bourbon, Materialize, JQuery, and some Angular.
                  </p>
               </div>
            </div>
            <div class="divider-dynamic"></div>
         </div>
         <div class="col-md-4 infoblock nopadding">
            <div class="row">
               <div class="col-sm-1 col-md-3">
                   <%= image_tag "icon-pen.png", :size => '40x40' %>
                 <div class="dividewhite1"></div></div>
               <div class="col-sm-11 col-md-9">
                  <h5 class="font-accident-one-bold uppercase">Primary Tools</h5>
                  <p class="small">
                     Agile Methodologies, OOP, MVC, PRY & IRB, Heroku, APIs, CMS, Google Apps for Work, CDN, Sketch, Vim, and pgAdmin.
                  </p>
               </div>
            </div>
            <div class="divider-dynamic"></div>
         </div>
      </div>
   </div>
</div>

<div class="col-md-4 personal nopadding l-grey">
   <div class="padding-50 wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
     <div class="dividewhite4"></div>
      <h3 class="font-accident-two-normal uppercase">Personal Info</h3>
      <div class="dividewhite2"></div>
      <div>
         <div class="fullwidth box">
            <div class="one"><p class="small font-regular-bold uppercase">Name:</p></div>
            <div class="two"><p class="small">Deven Blackburn</p></div>
         </div>
         <div class="fullwidth box">
            <div class="one"><p class="small font-regular-bold uppercase">Address:</p></div>
            <div class="two"><p class="small">Fort Lauderdale, FL USA</p></div>
         </div>
         <div class="fullwidth box">
            <div class="one"><p class="small font-regular-bold uppercase">Phone:</p></div>
            <div class="two"><p class="small">+1.954.348.7293</p></div>
         </div>
         <div class="fullwidth box">
            <div class="one"><p class="small font-regular-bold uppercase">Email:</p></div>
            <div class="two"><p class="small">deven@codefll.org</p></div>
         </div>
         <div class="fullwidth box">
            <div class="one"><p class="small font-regular-bold uppercase">Github:</p></div>
            <div class="two"><p class="small">github.com/hkdeven</p></div>
         </div>
      </div>
      <div class="dividewhite4"></div>
   </div>
</div>

</div>

<div class="row nopadding cyan">

<div class="col-md-4 pro-experience nopadding">
   <div class="padding-50 wow fadeInRight" data-wow-delay="0.6s" data-wow-offset="5">
      <h3 class="font-accident-two-normal uppercase fontcolor-invert">Experience</h3>
      <div class="dividewhite2"></div>
      <div class="experience">
         <ul class="">
            <li class="company uppercase">
              <!-- IGLTA COMPANY LOGO
              <img src="https://media.licdn.com/media/p/1/005/061/139/1e60c9d.png">
              <div class="dividewhite1"></div> -->
              <a>International Gay & Lesbian Travel Association, Inc. (IGLTA)</a>
            </li>
            <li class="date">2009 - 2016</li>
            <li class="position"><strong>Senior Project Manager</strong></li>
          </li>
          <li class="position">This job role grew exponentially from starting with 2 employees, to having 30+ full and part-time.  Primary duties included extensive convention and board meeting planning, employee training and hiring, unofficial tech department, primary contact for large sponsors and donors. Appropriately and affectionately named the 'Everything Dept.'</li>
          <a href="https://deven-blackburn.herokuapp.com/Deven_Blackburn_CV.pdf">
          <%= image_tag "more.png", :size => '34x34'  %></a>
         </ul>
      </div>
   </div>
</div>

<div class="col-md-8 circle-skills nopadding blue">
   <div class="padding-50 wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="5">
      <h3 class="font-accident-two-normal uppercase fontcolor-invert">Continuing ed curriculum strategy</h3>
      <div class="row">
         <div class="col-sm-4 nopadding">
            <div class="progressbar" data-animate="false">
               <div class="circle font-accident-one-normal fontcolor-invert" data-percent="25">
                  <div></div>
                  <h4 class="font-accident-one-normal uppercase">Javascript</h4>
                  <p class="small">
                     Currently: Angular, NodeJS, and JQuery
                  </p>
               </div>
            </div>
         </div>
         <div class="col-sm-4 nopadding">
            <div class="progressbar" data-animate="false">
               <div class="circle font-accident-one-normal fontcolor-invert" data-percent="40">
                  <div></div>
                  <h4 class="font-accident-one-normal uppercase">Front End & Design</h4>
                  <p class="small">
                     Currently: Sketch & Bourbon/Sass
                  </p>
               </div>
            </div>
         </div>
         <div class="col-sm-4 nopadding">
            <div class="progressbar" data-animate="false">
               <div class="circle font-accident-one-normal fontcolor-invert" data-percent="35">
                  <div></div>
                  <h4 class="font-accident-one-normal uppercase">Reinforcement</h4>
                  <p class="small">
                     Currently: Ruby/Rails, JQuery, JS, Bootstrap
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
